---
import CertificationCard from "./CertificationCard.astro";

const certifications = [
  {
    title: "Inglés Nivel 12 (Requerido técnico)",
    issuer:
      "Centro de Aprendizaje de Lenguas de la Universidad de San Carlos de Guatemala (CALUSAC)",
    image: "/assets/certificates/calusac-level-twelve.webp",
    date: "2020",
    link: "",
  },
  {
    title: "Entrenamiento Desarrollo Seguro",
    issuer: "DEVEL Cybersecurity",
    image: "/assets/certificates/secure-development.webp",
    date: "2023",
    link: "",
  },
  {
    title: "Scrum Foundations Professional Certificate",
    issuer: "CertiProf",
    image: "/assets/certificates/scrum-foundation.webp",
    date: "2022",
    link: "",
  },
  {
    title: "Programación Orientada a Objetos con Java",
    issuer: "Instituto Técnico de Capacitación (INTECAP) ",
    image: "/assets/certificates/intecap-oop-java.png",
    date: "2014",
    link: "",
  },
  {
    title: "Introducción a la Programación",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim",
    image: "/assets/certificates/programming-intro.webp",
    date: "2020",
    link: "https://capacitateparaelempleo.org/verifica/5b432ce5-1d22-4d92-9bcb-15564ee310b6/2a9700f4-20fc-43e3-93e7-6f2a5230fd6b",
  },
  {
    title: "Programador (Orientado a Objetos)",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim",
    image: "/assets/certificates/oo-programmer.webp",
    date: "2020",
    link: "https://capacitateparaelempleo.org/verifica/5b432ce5-1d22-4d92-9bcb-15564ee310b6/35ff7d58-16f7-42b7-a266-1085d60a6d2f",
  },
  {
    title: "Desarrollador Back-end",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim",
    image: "/assets/certificates/backend-developer.webp",
    date: "2020",
    link: "https://capacitateparaelempleo.org/verifica/5b432ce5-1d22-4d92-9bcb-15564ee310b6/733aade5-8999-4e04-ab9d-99d6d2c7af9f",
  },
  {
    title: "Desarrollador Front-end",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim",
    image: "/assets/certificates/frontend-developer.webp",
    date: "2025",
    link: "https://capacitateparaelempleo.org/verifica/5b432ce5-1d22-4d92-9bcb-15564ee310b6/e148298e-8c59-407e-b94d-3b4e5c1f2e68",
  },
  {
    title: "Administrador de Servidores",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim ",
    image: "/assets/certificates/server-admin.webp",
    date: "2025",
    link: "https://capacitateparaelempleo.org/verifica/5b432ce5-1d22-4d92-9bcb-15564ee310b6/c673879b-b843-4d7f-a224-54f69fd3e481",
  },
  {
    title: "Preprocesadores de estilos",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim ",
    image: "/assets/certificates/styles-preprocessors.webp",
    date: "2025",
    link: "https://capacitateparaelempleo.org/verifica/5b432ce5-1d22-4d92-9bcb-15564ee310b6/b28ee1ba-fb77-4cb6-ba1a-036a30e58851",
  },
  {
    title: "Postprocesadores de estilos",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim ",
    image: "/assets/certificates/styles-postprocessor.webp",
    date: "2025",
    link: "https://capacitateparaelempleo.org/verifica/5b432ce5-1d22-4d92-9bcb-15564ee310b6/d55c5d3c-e9e1-4b70-b04c-05b0664648c3",
  },
  {
    title: "Diseñador de experiencia de usuario (UX)",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim ",
    image: "/assets/certificates/ux-designer.webp",
    date: "2025",
    link: "https://capacitateparaelempleo.org/verifica/5b432ce5-1d22-4d92-9bcb-15564ee310b6/65528ffe-22c1-4c2d-9768-0ec5b06516cf",
  },
  {
    title: "Desarrollador de sitios web responsivos",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim ",
    image: "/assets/certificates/responsive-developer.webp",
    date: "2025",
    link: "https://capacitateparaelempleo.org/verifica/5b432ce5-1d22-4d92-9bcb-15564ee310b6/edb7e15b-e5ab-40a4-8e6d-eaf12e45d7aa",
  },
  {
    title: "Desarrollador de interfaces gráficas",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim ",
    image: "/assets/certificates/ui-developer.webp",
    date: "2025",
    link: "https://capacitateparaelempleo.org/verifica/5b432ce5-1d22-4d92-9bcb-15564ee310b6/5516ffb6-2731-499b-9137-5053281840c9",
  },
  {
    title: "Control de versiones (git)",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim ",
    image: "/assets/certificates/version-control.webp",
    date: "2025",
    link: "https://capacitateparaelempleo.org/verifica/5b432ce5-1d22-4d92-9bcb-15564ee310b6/aef99b6c-491a-4e01-841e-87513e10b1b6",
  },
  {
    title: "Diplomado en Fundamentos de Full Stack",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim ",
    image: "/assets/certificates/full-stack-diploma.webp",
    date: "2025",
    link: "",
  },
  {
    title: "Programador en C#",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim ",
    image: "/assets/certificates/csharp-developer.webp",
    date: "2025",
    link: "https://capacitateparaelempleo.org/verifica/5b432ce5-1d22-4d92-9bcb-15564ee310b6/0380b800-f5d2-4772-8eed-cae72d8bb8ed",
  },
  {
    title: "Cómputo básico",
    issuer: "Capacitate para el Empleo / Fundación Carlos Slim ",
    image: "/assets/certificates/basic-computing.webp",
    date: "2025",
    link: "https://capacitateparaelempleo.org/verifica/5b432ce5-1d22-4d92-9bcb-15564ee310b6/0380b800-f5d2-4772-8eed-cae72d8bb8ed",
  },
  // Puedes agregar más certificaciones siguiendo este formato
];
---

<section class="w-full mt-12">
  <h2
    class="text-2xl md:text-3xl font-bold text-gray-800 dark:text-white mb-2 flex items-center gap-2"
  >
    Certificados
  </h2>
  <p class="text-gray-600 dark:text-gray-400 mb-8">
    Mis cursos y certificaciones
  </p>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
  >
    {
      certifications.map((cert) => (
        <CertificationCard
          title={cert.title}
          issuer={cert.issuer}
          image={cert.image}
          date={cert.date}
          link={cert.link}
        />
      ))
    }
  </div>
</section>
